---
// Import the necessary Tailwind CSS utilities
import "@astrojs/tailwind";
import FontAwesomeIcon from "./FontAwesomeIcon.vue";
---

<footer class="fixed inset-x-0 bottom-0 bg-gray-200 py-4">
  <div class="container mx-auto text-center">
    <p>&copy; 2024 Multithreaded Income</p>
  </div>
</footer>
